<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      Gerenciamento de cargos
    </li>
  </ol>
</nav>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de cargos</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cargo of cargos">
            <td>{{ cargo.id }}</td>
            <td>{{ cargo.nome }}</td>
            <td>
              <div>
                <a href="{{ cargo._links[0] }}">link </a>

                <a href="{{ cargo._links[1] }}">link </a>

                <a href="{{ cargo._links[2] }}">link </a>
              </div>
            </td>
            <!--
            


                            <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editCar(car)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteCar(car)">Deletar</button>
              </td>
             

            -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
