<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de cargos</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cargo of cargos">
            <td>{{ cargo.id }}</td>
            <td>{{ cargo.nome }}</td>
            <td>
              <button
                type="button"
                class="btn btn-sucess btn-sm ml-1"
                (click)="mostrarCargo(cargo)"
              >
                Detalhes
              </button>
              <button
                type="button"
                class="btn btn-warning btn-sm"
                (click)="editarCargo(cargo)"
              >
                Editar
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm ml-1"
                (click)="deletarCargo(cargo.id)"
              >
                Deletar
              </button>
            </td>

            <!--
            <td>
              <div>
                <a [routerLink]="['/listarCargos', cargo.id]" style="color: black">
                  <i class="far fa-eye"></i>
                </a>

                <a
                  routerLink="/listarCargos"
                  style="color: black; margin-left: 10px"
                >
                  <i class="fas fa-edit"></i>
                </a>

                <a
                  routerLink="/listarCargos"
                  style="color: black; margin-left: 10px"
                >
                  <i class="fas fa-trash-alt"></i>
                </a>
              </div>
            </td>
            -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
