<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de clientes</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>
              <button
                type="button"
                class="btn"
                (click)="mostrarCliente(cliente.id)"
              >
                <i class="far fa-eye"></i>
              </button>
              <button type="button" class="btn" (click)="editarCliente(cliente.id)">
                <i class="fas fa-edit"></i>
              </button>
              <button
                type="button"
                class="btn"
                (click)="deletarCliente(cliente.id)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="criarCliente()">
        Criar novo
      </button>
    </div>
  </div>
</div>
